{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/my-publications.css') }}">
{% endblock %}

{% block body %}
    <header class="parallax-window">
        <img class="parallax-slider" src="{{ asset('bundles/app/img/header-bg.jpg') }}"/>
        <div class="container publication-header">
            <div class="row">
                <div class="col-lg-12 publication-title">
                    <h1>
                        <span class="label label-pill label-default pull-right"> {{publications ? publications|length : 0 }}</span>
                        My Publications
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div id="filters" class="button-group">  
                <div class="row">
                    <p class="col-md-4">Filter my publications </p>
                    <div class="col-xs-6 col-md-2"><button class="button btn is-checked" data-filter="*">All</button></div>
                    <div class="col-xs-6 col-md-2"><button class="button btn" data-filter=".published"><i class="fa fa-circle-o text-green"></i>Published</button></div>
                    <div class="col-xs-6 col-md-2"><button class="button btn" data-filter=".review"><i class="fa fa-circle-o text-orange"></i>Review</button></div>
                    <div class="col-xs-6 col-md-2"><button class="button btn" data-filter=".submitted"><i class="fa fa-circle-o text-red"></i>Submitted</button></div>
                </div>
            </div>
            <div class="my-publication-container row grid">
                {% if publications | length > 0 %}
                    {% for publication in publications %}
                        <div class="col-xs-12 col-md-6 col-lg-4 grid-item published">
                            <div class="my-publication-close">
                                <i class="fa fa-times"></i>
                            </div>
                            <div class="block table my-publication-{{ publication.category.initials starts with 'C' ? 'conference': 'article' }}">
                                <div class="my-publication my-publication-off table-cell v-bottom">
                                    <h5>{{ publication.title|length > 200 ? publication.title|slice(0, 200) ~ '...' : publication.title  }}</h5>
                                    <p class="my-publication-data">{{ publication.dateofpublication | date("Y") }} | {{ publication.category.initials }} | <i class="fa fa-circle-o text-green"></i></p>
                                    <div class="my-publication-edit table">
                                        <div class="col-xs-6 text-xs-right my-publication-edit-icon table-cell v-middle"><a href="{{ path('show-publication', {'id': publication.id}) }}"><i class="fa fa-eye fa-2x"></i></a></div>
                                        <div class="col-xs-6 text-xs-left my-publication-edit-icon table-cell v-middle"><a href="{{ path('update-publication', {'id': publication.id}) }}"><i class="fa fa-edit fa-2x"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        <strong>Oops!</strong> You dont have any publication yet! <a href="{{ path('new-publication') }}" class="alert-link">Make sure to add one!</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/tether/dist/js/tether.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/isotope/dist/isotope.pkgd.js') }}"></script>
    <script src="{{ asset('bundles/app/js/my-publications.js') }}"></script>
{% endblock %}