{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/publication.css') }}">
{% endblock %}

{% block body %}
    <header class="parallax-window">
        <img class="parallax-slider" src="{{ asset('bundles/app/img/header-bg.jpg') }}"/>
        <div class="container publication-header">
            <div class="row">
                <div class="col-lg-11 publication-title">
                    <h1>{{ publication.title }}</h1>
                    <p class="publication-category">
                        <span class="fa fa-angle-right"></span> {{ publication.category.wording }}</p>
                </div>
                <div class="col-lg-1 publication-date">
                    <p class="pull-xs-left pull-lg-right">{{ publication.dateofpublication | date("Y") }}</p>
                </div>
            </div>
        </div>
    </header>
    <section id="publication">
        <div class="container">
            <div class="row publication-about">
                <div class="col-lg-12">
                    <h3>About the Publication</h3>
                </div>
                <div class="col-lg-9 text-justify abstract">
                    <p>
                        <span class="fa fa-quote-left"></span>
                        {{ publication.abstract }}
                        <span class="fa fa-quote-right"></span>
                    </p>
                    {% if publication.location %}
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="publication-location">
                                    <span class="fa fa-map-marker"></span> {{ publication.location }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>					
                <div class="col-xs-12 col-md-3">
                    <h3>Researchers</h3>
                    {% if publication.researchers %}
                        <ul class="list-author">
                            {% for pr in publication.researchers %}
                                <li class="label label-default"><a href="">{{ pr.researcher.firstname ~ ' ' ~ pr.researcher.lastname }}</a></li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                    <h3>Authors</h3>
                    {% if publication.authors %}
                        <ul class="list-author">
                            {% for pa in publication.authors %}
                                <li class="label label-default"><a href="">{{ pa.author.firstname ~ ' ' ~ pa.author.lastname }}</a></li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="row publication-links">
                <div class="col-xs-12">
                    <h3>External links</h3>
                </div>
                <div class="col-lg-12">
                    <p><i>{{ publication.journal }}</i></p>
                </div>
                <div class="col-lg-6"><p><span class="data-label">Publisher:</span> {{ publication.publisher == null ? 'No publisher' : publication.publisher.name }}</p></div>
                <div class="col-lg-3"><p><span class="data-label">Volume:</span> {{ publication.volume }}</p></div>
                <div class="col-lg-3"><p><span class="data-label">Pages:</span> {{ publication.pages }}</p></div>
                            {% if publication.link %}
                    <div class="col-xs-12">
                        <span class="fa fa-link"></span>
                        <a href="{{ publication.link }}" target="_blank">{{ publication.link }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}